%li{:class => "has-form"}
  %form{:action => "/group_campaigns/search", :method =>"GET"}
    %div{:class => "row-collapse"}
      %div{:class => "small-8 columns"}
        %input{:type =>"text", :name =>"search"}
      %div{:class => "small-4 columns"}
        %button{:type =>"submit"} Submit