%ul{:class=>"right"}
  %form{ :action => "group_campaign/search", :method =>"POST" }
    %fieldset
      %li 
        %label{:for =>"search"} Search:
      %li
        %input{:type =>"text", :name =>"search", :class =>"text"}
      %li  
        %button{:type =>"submit", :value =>"Search", :class =>"button"}
