%h1 These are the Group Campaigns
=button_to 'Home', "/",{method: "get"}
=button_to 'Campaigns', "campaigns",{method: "get"}

%ul
  - @group_campaigns.each do |group_campaign| 
    %li=link_to group_campaign.title, "group_campaigns/#{group_campaign.id}"