%h1 
  = @group_campaign.title

%table 
  %tr
    -@group_campaign.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    %tr
      - @group_campaign.attributes.each do |key, value|
        %td= value

%table 
  %tr
    -@group_campaign.campaigns.first.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    - @group_campaign.campaigns.each do |campaign|
      %tr
        - campaign.attributes.each do |key, value|
          %td= value