%h1= @group_campaign.title
=button_to 'Home', "/",{method: "get"}
=button_to 'Group Campaigns', "group_campaigns",{method: "get"}
=button_to 'Campaigns', "campaigns",{method: "get"}

%table 
  %tr
    -@group_campaign.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    %tr
      - @group_campaign.attributes.each do |key, value|
        %td= value

.show_button=button_to 'Show Campaigns', {method: "get"}

%table.campaigns_table
  %tr
    -@group_campaign.campaigns.first.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    - @group_campaign.campaigns.each do |campaign|
      %tr
        - campaign.attributes.each do |key, value|
          %td= value