%h1= @group_campaign.title

%a.button{:href => '/', :method => "get"} Home
%a.button{:href => '/group_campaigns', :method => "get"} Group Campaigns
%a.button{:href => '/campaigns', :method => "get"} Campaigns

%table 
  %tr
    -@group_campaign.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    %tr
      - @group_campaign.attributes.each do |key, value|
        %td= value

%a.button.show_button{:method => "get"} Show Campaigns

%table.campaigns_table
  %tr
    -@group_campaign.campaigns.first.attributes.each do |key,value|
      %th=key.capitalize.gsub("_", " ")
    - @group_campaign.campaigns.each do |campaign|
      %tr
        - campaign.attributes.each do |key, value|
          %td= value