/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.handsontable.bootstrap
 *= require jquery.handsontable
 */

 /* GRAPHS */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: steelblue;
}
.x.axis path {
  display: none;
}
.legend {
  margin-left: 20px;
}
.hovered-label {
  font-size: 14px;
  font-weight: bold;
}
h1.graphs, h3.graphs {
  text-align: center;
}
.inline-dropdown, .inline-dropdown-text {
  margin: 0 auto;
  display: inline-block;
  font-size: 18px;
}
.inline-dropdown-wrapper {
  height: 50px;
  padding: 10px;
  width: 700px;
  margin: -40px auto 0 auto;
}
.smaller-width {
  width: 400px;
}
.svg {
  background-color: white;
}
.dragdealer.vertical {
  left: 0px;
}
/* TABLES */
table, th, td {
  border: 1px solid black;
}
.htDimmed {
  color: blue;
}
.tableCampaigns {
  height: 600px;
  overflow: scroll;
  width: 700px;
  margin-top: 20px;
}
.tableGroupCampaigns.handsontable {
  width: 410px;
}
.tableGroupCampaigns{
  height: 600px;
  overflow: scroll;
  width: inherit;
  margin-top: 20px;
}
.large-1.columns {
  color: white;
}
.csv-h1 {
  display: inline-block;
}
.csv {
  height: 25px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 14px;
}
.hide_table {
  opacity: 0;
}
.show_button{
  margin: 20px auto;
}
#datepicker {
  margin-bottom: 20px;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 0px;
background: white;
font-weight: bold;
color: #0073ea;
}
/* OTHER */
.hide-me {
  opacity: 0;
}