/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.handsontable.bootstrap
 *= require jquery.handsontable
 */

table, th, td {
  border: 1px solid black;
}
.tableCampaigns {
  height: 600px;
  overflow: scroll;
  width: inherit;
  margin-top: 20px;
}
.large-1.columns {
  color: white;
}
h1 {
  display: inline-block;
}
.csv {
  height: 25px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 14px;
}
.hide_table {
  opacity: 0;
}

.show_button{
  margin: 20px auto;
}
