table, th, td {
  border: 1px solid black;
}
.table-wrapper {
  position: relative;
}

.table-wrapper table {
  width: 100%;
}

.table-scroll {
  height: auto;
  max-height: 600px;
  overflow: auto;
  margin-top: 20px;
}

.large-1.columns {
  color: white;
}