table, th, td {
  border: 1px solid black;
}
.table-wrapper {
  position: relative;
}

.table-wrapper table {
  width: 100%;
}

.tableCampaigns {
  height: 80%;
  overflow: scroll;
  width: inherit;
  margin-top: 20px;
}

.large-1.columns {
  color: white;
}