// Place all the styles related to the group_campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaigns_table{
  display: none;
}

.table-wrapper {
  height: auto;
  max-height: 600px;
  overflow: auto;
}

th {
  position: absolute;   
  width: auto;
  /*top:-20px;*/
}

.display_table{
  display: table;
}