%form{:id => "datepicker", :action => "/campaigns/date", :method =>"GET"}
  %div{:class => "form-group"}
    %input{:type =>"text", :id =>"from", :name =>"from"}
    %input{:type =>"text", :id =>"to", :name =>"to"}
    %button{:type =>"submit", :class => "btn btn-default", :id => "blake"} Search Dates