%h1 This will be a graph for Campaigns!
%div{:class=>"dropdown"}
  %button{:class=>"btn dropdown-toggle", :type=>"button", :id=> "dropdownMenu1", :data=>{:toggle=>"dropdown"}} Choose Your Variable
  %ul{:class=>"dropdown-menu", :role=>"menu"} 
    %li{:class=>"dropdown-header", :role=>"presentation"} Y-Axis
    %li{:role=>"presentation"}
      %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} open_rate
    %li{:role=>"presentation"} 
      %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} revenue_created
    %li{:role=>"presentation"} 
      %a{:role=>"menuitem", :tabindex=>"-1", :href=>"#"} unsubscribes
.svg