.container
  .csv-container
    %h1.csv-h1.all-c All Campaigns
    %a.csv-link{:href=>"/campaigns.csv"}
      %img.csv{:src=>"/csv.svg"}
    %h1.csv-h1.btn
      = render 'campaign/dateform'
  .tableCampaigns
  .tableDateCampaigns